VITE_FIREBASE_API_KEY=AIzaSyB-7UYwHG9sgprm_RpWoahpEdJyqzGXFeI
VITE_FIREBASE_AUTH_DOMAIN=portfolio-43293.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=portfolio-43293
VITE_FIREBASE_STORAGE_BUCKET=portfolio-43293.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=719786490442
VITE_FIREBASE_APP_ID=1:719786490442:web:3a982e3eeefc1c7a71c4b3
